/* Estilos para Desktop */
@media screen and (min-width: 768px) {
    body {
        font-family: "Avenir Next", Helvetica, Arial, sans-serif;
    }

    body, html {
        margin: 0;
        padding: 0;
        height: 100%;
        font-family: "Avenir Next", Helvetica, Arial, sans-serif;
        background-color: #bc2649;
    }

    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header {
        text-align: center;
        margin-bottom: 30px;
    }

    .logo {
        width: 100%;
        max-width: 500px;
        height: auto;
    }

    .content {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        max-width: 800px;
        width: 100%;
    }

    .main-image {
        width: 50%;
        max-width: 400px;
        height: auto;
        margin-right: 20px;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    .text {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center; /* Para alinhar o texto verticalmente */
    }
}

    h2 {
        font-family: 'Montserrat', sans-serif;
        color: #bc2649;
    }

    .nomeInsta {
        font-family: 'Montserrat', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #DB224A;
    }

    .subtitulo {
        font-family: 'Montserrat', sans-serif;
    }

    .buttons {
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    button {
        padding: 10px 20px;
        margin: 10px 0;
        border: none;
        background-color: #f5ba72;
        color: #DB224A;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        border-radius: 5px;
        width: 100%;
        font-family: 'Montserrat', sans-serif;
    }

    button:hover {
        background-color: #fff;
        color: #bc2649;
        border: 1px solid #bc2649;
    }

    button i {
        color: #bc2649;
    }

    footer {
        text-align: center;
        padding-top: 20px;
        color: #fff;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
    }

    .icons img {
        width: 100%;
        height: 100%;
    }

    .icon {
        width: 50px;
        height: 50px;
        margin: 0 0px;
    }

    .icon-insta {
        width: 60px;
        height: 60px;
        margin: 0 0px;
    }

    .icon-email {
        width: 60px;
        height: 60px;
        margin: 0 0px;
    }

    .icon-insta:hover, .icon-email:hover {
        transform: scale(1.2);
        transition: transform 0.3s ease;
        cursor: pointer;
    }

    .icon i {
        color: #f5ba72;
    }

    @import url(https://fonts.googleapis.com/css?family=Cabin);
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }
    
    p {
      margin-top: 50px;
      font-family: "Cabin", sans-serif;
      letter-spacing: 12px;
      text-indent: 12px;
      color: #ffffff;
      -webkit-animation: colorText 5s ease-out infinite, nudgeText 5s ease-out infinite;
              animation: colorText 5s ease-out infinite, nudgeText 5s ease-out infinite;
    }
    
    .mouse {
      background: #4e5559 linear-gradient(transparent 0%, transparent 50%, #ffffff 50%, #ffffff 100%);
      position: relative;
      width: 52px;
      height: 88px;
      border-radius: 100px;
      background-size: 100% 200%;
      -webkit-animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite;
              animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite;
    }
    .mouse:before, .mouse:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }
    .mouse:before {
      width: 46px;
      height: 82px;
      background-color: #222a30;
      border-radius: 100px;
    }
    .mouse:after {
      background-color: #ffffff;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      -webkit-animation: trackBallSlide 5s linear infinite;
              animation: trackBallSlide 5s linear infinite;
    }
    
    @-webkit-keyframes colorSlide {
      0% {
        background-position: 0% 100%;
      }
      20% {
        background-position: 0% 0%;
      }
      21% {
        background-color: #4e5559;
      }
      29.99% {
        background-color: #ffffff;
        background-position: 0% 0%;
      }
      30% {
        background-color: #4e5559;
        background-position: 0% 100%;
      }
      50% {
        background-position: 0% 0%;
      }
      51% {
        background-color: #4e5559;
      }
      59% {
        background-color: #ffffff;
        background-position: 0% 0%;
      }
      60% {
        background-color: #4e5559;
        background-position: 0% 100%;
      }
      80% {
        background-position: 0% 0%;
      }
      81% {
        background-color: #4e5559;
      }
      90%, 100% {
        background-color: #ffffff;
      }
    }
    
    @keyframes colorSlide {
      0% {
        background-position: 0% 100%;
      }
      20% {
        background-position: 0% 0%;
      }
      21% {
        background-color: #4e5559;
      }
      29.99% {
        background-color: #ffffff;
        background-position: 0% 0%;
      }
      30% {
        background-color: #4e5559;
        background-position: 0% 100%;
      }
      50% {
        background-position: 0% 0%;
      }
      51% {
        background-color: #4e5559;
      }
      59% {
        background-color: #ffffff;
        background-position: 0% 0%;
      }
      60% {
        background-color: #4e5559;
        background-position: 0% 100%;
      }
      80% {
        background-position: 0% 0%;
      }
      81% {
        background-color: #4e5559;
      }
      90%, 100% {
        background-color: #ffffff;
      }
    }
    @-webkit-keyframes trackBallSlide {
      0% {
        opacity: 1;
        transform: scale(1) translateY(-20px);
      }
      6% {
        opacity: 1;
        transform: scale(0.9) translateY(5px);
      }
      14% {
        opacity: 0;
        transform: scale(0.4) translateY(40px);
      }
      15%, 19% {
        opacity: 0;
        transform: scale(0.4) translateY(-20px);
      }
      28%, 29.99% {
        opacity: 1;
        transform: scale(1) translateY(-20px);
      }
      30% {
        opacity: 1;
        transform: scale(1) translateY(-20px);
      }
      36% {
        opacity: 1;
        transform: scale(0.9) translateY(5px);
      }
      44% {
        opacity: 0;
        transform: scale(0.4) translateY(40px);
      }
      45%, 49% {
        opacity: 0;
        transform: scale(0.4) translateY(-20px);
      }
      58%, 59.99% {
        opacity: 1;
        transform: scale(1) translateY(-20px);
      }
      60% {
        opacity: 1;
        transform: scale(1) translateY(-20px);
      }
      66% {
        opacity: 1;
        transform: scale(0.9) translateY(5px);
      }
      74% {
        opacity: 0;
        transform: scale(0.4) translateY(40px);
      }
      75%, 79% {
        opacity: 0;
        transform: scale(0.4) translateY(-20px);
      }
      88%, 100% {
        opacity: 1;
        transform: scale(1) translateY(-20px);
      }
    }
    @keyframes trackBallSlide {
      0% {
        opacity: 1;
        transform: scale(1) translateY(-20px);
      }
      6% {
        opacity: 1;
        transform: scale(0.9) translateY(5px);
      }
      14% {
        opacity: 0;
        transform: scale(0.4) translateY(40px);
      }
      15%, 19% {
        opacity: 0;
        transform: scale(0.4) translateY(-20px);
      }
      28%, 29.99% {
        opacity: 1;
        transform: scale(1) translateY(-20px);
      }
      30% {
        opacity: 1;
        transform: scale(1) translateY(-20px);
      }
      36% {
        opacity: 1;
        transform: scale(0.9) translateY(5px);
      }
      44% {
        opacity: 0;
        transform: scale(0.4) translateY(40px);
      }
      45%, 49% {
        opacity: 0;
        transform: scale(0.4) translateY(-20px);
      }
      58%, 59.99% {
        opacity: 1;
        transform: scale(1) translateY(-20px);
      }
      60% {
        opacity: 1;
        transform: scale(1) translateY(-20px);
      }
      66% {
        opacity: 1;
        transform: scale(0.9) translateY(5px);
      }
      74% {
        opacity: 0;
        transform: scale(0.4) translateY(40px);
      }
      75%, 79% {
        opacity: 0;
        transform: scale(0.4) translateY(-20px);
      }
      88%, 100% {
        opacity: 1;
        transform: scale(1) translateY(-20px);
      }
    }
    @-webkit-keyframes nudgeMouse {
      0% {
        transform: translateY(0);
      }
      20% {
        transform: translateY(8px);
      }
      30% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(8px);
      }
      60% {
        transform: translateY(0);
      }
      80% {
        transform: translateY(8px);
      }
      90% {
        transform: translateY(0);
      }
    }
    @keyframes nudgeMouse {
      0% {
        transform: translateY(0);
      }
      20% {
        transform: translateY(8px);
      }
      30% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(8px);
      }
      60% {
        transform: translateY(0);
      }
      80% {
        transform: translateY(8px);
      }
      90% {
        transform: translateY(0);
      }
    }
    @-webkit-keyframes nudgeText {
      0% {
        transform: translateY(0);
      }
      20% {
        transform: translateY(2px);
      }
      30% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(2px);
      }
      60% {
        transform: translateY(0);
      }
      80% {
        transform: translateY(2px);
      }
      90% {
        transform: translateY(0);
      }
    }
    @keyframes nudgeText {
      0% {
        transform: translateY(0);
      }
      20% {
        transform: translateY(2px);
      }
      30% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(2px);
      }
      60% {
        transform: translateY(0);
      }
      80% {
        transform: translateY(2px);
      }
      90% {
        transform: translateY(0);
      }
    }
    @-webkit-keyframes colorText {
      21% {
        color: #4e5559;
      }
      30% {
        color: #ffffff;
      }
      51% {
        color: #4e5559;
      }
      60% {
        color: #ffffff;
      }
      81% {
        color: #4e5559;
      }
      90% {
        color: #ffffff;
      }
    }
    @keyframes colorText {
      21% {
        color: #4e5559;
      }
      30% {
        color: #ffffff;
      }
      51% {
        color: #4e5559;
      }
      60% {
        color: #ffffff;
      }
      81% {
        color: #4e5559;
      }
      90% {
        color: #ffffff;
      }
    }


/* Estilos para Mobile */
@media screen and (max-width: 767px) {
    /* Adicione os estilos específicos para dispositivos móveis aqui */

    body {
        font-family: "Avenir Next", Helvetica, Arial, sans-serif; /* Definindo a fonte para todo o corpo */
    }
    
    body, html {
        margin: 0;
        padding: 0;
        height: 100%;
        font-family: "Avenir Next", Helvetica, Arial, sans-serif; /* Definindo a fonte para todo o corpo */
        background-color: #bc2649; /* Nova cor de fundo */
    }
    
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    header {
        text-align: center;
        margin-bottom: 30px;
    }
    
    .logo {
        width: 100%; /* Ajuste o tamanho conforme necessário */
        max-width: 500px;
        height: auto;
    }
    
    .content {
        text-align: center;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 600px; /* Ajuste o tamanho conforme necessário */
    }
    
    .main-image {
        width: 100%;
        max-width: 400px;
        height: auto;
        margin-bottom: 20px;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }
    
    .text {
        margin-bottom: 20px;
    }
    
    h2 {
        font-family: 'Montserrat', sans-serif; /* Definindo a fonte para os botões */
        color: #bc2649; /* Nova cor para o título */
    }
    
    .nomeInsta {
    
        font-family: 'Montserrat', sans-serif; /* Definindo a fonte para os botões */
        color: #DB224A; /* Nova cor para o texto */
    
    }
    
    .subtitulo {
    
        font-family: 'Montserrat', sans-serif; /* Definindo a fonte para os botões */
    
    }
    
    .buttons {
        margin-bottom: 40px;
    }
    
    .buttons {
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    button {
        padding: 10px 20px;
        margin: 10px 0;
        border: none;
        background-color: #f5ba72; /* Nova cor para os botões */
        color: #DB224A; /* Nova cor para o texto */
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        border-radius: 5px;
        width: 100%; /* Largura dos botões */
        font-family: 'Montserrat', sans-serif; /* Definindo a fonte para os botões */
    }
    
    button:hover {
        background-color: #fff;
        color: #bc2649; /* Nova cor para o texto ao passar o mouse */
        border: 1px solid #bc2649; /* Nova cor para a borda ao passar o mouse */
    }
    
    button i {
        color: #bc2649; /* Cor sólida para o ícone */
    }
    
    footer {
        text-align: center;
        padding-top: 20px;
        color: #fff;
    }
    
    a {
        color: inherit; /* Herda a cor do texto do elemento pai */
        text-decoration: none; /* Remove o sublinhado */
    }
    
    .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
    }
    
    .icons img {
        width: 100%;
        height: 100%;
    }
    
    .icon {
        width: 50px; /* Ajuste o tamanho conforme necessário */
        height: 50px; /* Ajuste o tamanho conforme necessário */
        margin: 0 0px;
    }
    
    .icon-insta {
        width: 60px; /* Ajuste o tamanho conforme necessário */
        height: 60px; /* Ajuste o tamanho conforme necessário */
        margin: 0 0px;
    }
    
    .icon-email {
        width: 60px; /* Ajuste o tamanho conforme necessário */
        height: 60px; /* Ajuste o tamanho conforme necessário */
        margin: 0 0px;
    }
    
    .icon-insta:hover {
        transform: scale(1.2); /* Faz os ícones crescerem em 20% */
        transition: transform 0.3s ease; /* Adiciona uma transição suave */
        cursor: pointer; /* Altera o cursor para indicar um link */
    }
    
    .icon-email:hover {
        transform: scale(1.2); /* Faz os ícones crescerem em 20% */
        transition: transform 0.3s ease; /* Adiciona uma transição suave */
        cursor: pointer; /* Altera o cursor para indicar um link */
    }
    
    .icon i {
        color: #f5ba72; /* Cor dos ícones */
    }

}
