/* Estilos para Desktop */
@media screen and (min-width: 768px) {
    body {
        font-family: "Avenir Next", Helvetica, Arial, sans-serif;
    }

    body, html {
        margin: 0;
        padding: 0;
        height: 100%;
        font-family: "Avenir Next", Helvetica, Arial, sans-serif;
        background-color: #bc2649;
    }

    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header {
        text-align: center;
        margin-bottom: 30px;
    }

    .logo {
        width: 100%;
        max-width: 500px;
        height: auto;
    }

    .content {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        max-width: 800px;
        width: 100%;
    }

    .main-image {
        width: 50%;
        max-width: 400px;
        height: auto;
        margin-right: 20px;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    .text {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center; /* Para alinhar o texto verticalmente */
    }
}

    h2 {
        font-family: 'Montserrat', sans-serif;
        color: #bc2649;
    }

    .nomeInsta {
        font-family: 'Montserrat', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #DB224A;
    }

    .subtitulo {
        font-family: 'Montserrat', sans-serif;
    }

    .buttons {
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    button {
        padding: 10px 20px;
        margin: 10px 0;
        border: none;
        background-color: #f5ba72;
        color: #DB224A;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        border-radius: 5px;
        width: 100%;
        font-family: 'Montserrat', sans-serif;
    }

    button:hover {
        background-color: #fff;
        color: #bc2649;
        border: 1px solid #bc2649;
    }

    button i {
        color: #bc2649;
    }

    footer {
        text-align: center;
        padding-top: 20px;
        color: #fff;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
    }

    .icons img {
        width: 100%;
        height: 100%;
    }

    .icon {
        width: 50px;
        height: 50px;
        margin: 0 0px;
    }

    .icon-insta {
        width: 60px;
        height: 60px;
        margin: 0 0px;
    }

    .icon-email {
        width: 60px;
        height: 60px;
        margin: 0 0px;
    }

    .icon-insta:hover, .icon-email:hover {
        transform: scale(1.2);
        transition: transform 0.3s ease;
        cursor: pointer;
    }

    .icon i {
        color: #f5ba72;
    }


/* Estilos para Mobile */
@media screen and (max-width: 767px) {
    /* Adicione os estilos específicos para dispositivos móveis aqui */

    body {
        font-family: "Avenir Next", Helvetica, Arial, sans-serif; /* Definindo a fonte para todo o corpo */
    }
    
    body, html {
        margin: 0;
        padding: 0;
        height: 100%;
        font-family: "Avenir Next", Helvetica, Arial, sans-serif; /* Definindo a fonte para todo o corpo */
        background-color: #bc2649; /* Nova cor de fundo */
    }
    
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    header {
        text-align: center;
        margin-bottom: 30px;
    }
    
    .logo {
        width: 100%; /* Ajuste o tamanho conforme necessário */
        max-width: 500px;
        height: auto;
    }
    
    .content {
        text-align: center;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 600px; /* Ajuste o tamanho conforme necessário */
    }
    
    .main-image {
        width: 100%;
        max-width: 400px;
        height: auto;
        margin-bottom: 20px;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }
    
    .text {
        margin-bottom: 20px;
    }
    
    h2 {
        font-family: 'Montserrat', sans-serif; /* Definindo a fonte para os botões */
        color: #bc2649; /* Nova cor para o título */
    }
    
    .nomeInsta {
    
        font-family: 'Montserrat', sans-serif; /* Definindo a fonte para os botões */
        color: #DB224A; /* Nova cor para o texto */
    
    }
    
    .subtitulo {
    
        font-family: 'Montserrat', sans-serif; /* Definindo a fonte para os botões */
    
    }
    
    .buttons {
        margin-bottom: 40px;
    }
    
    .buttons {
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    button {
        padding: 10px 20px;
        margin: 10px 0;
        border: none;
        background-color: #f5ba72; /* Nova cor para os botões */
        color: #DB224A; /* Nova cor para o texto */
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        border-radius: 5px;
        width: 100%; /* Largura dos botões */
        font-family: 'Montserrat', sans-serif; /* Definindo a fonte para os botões */
    }
    
    button:hover {
        background-color: #fff;
        color: #bc2649; /* Nova cor para o texto ao passar o mouse */
        border: 1px solid #bc2649; /* Nova cor para a borda ao passar o mouse */
    }
    
    button i {
        color: #bc2649; /* Cor sólida para o ícone */
    }
    
    footer {
        text-align: center;
        padding-top: 20px;
        color: #fff;
    }
    
    a {
        color: inherit; /* Herda a cor do texto do elemento pai */
        text-decoration: none; /* Remove o sublinhado */
    }
    
    .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
    }
    
    .icons img {
        width: 100%;
        height: 100%;
    }
    
    .icon {
        width: 50px; /* Ajuste o tamanho conforme necessário */
        height: 50px; /* Ajuste o tamanho conforme necessário */
        margin: 0 0px;
    }
    
    .icon-insta {
        width: 60px; /* Ajuste o tamanho conforme necessário */
        height: 60px; /* Ajuste o tamanho conforme necessário */
        margin: 0 0px;
    }
    
    .icon-email {
        width: 60px; /* Ajuste o tamanho conforme necessário */
        height: 60px; /* Ajuste o tamanho conforme necessário */
        margin: 0 0px;
    }
    
    .icon-insta:hover {
        transform: scale(1.2); /* Faz os ícones crescerem em 20% */
        transition: transform 0.3s ease; /* Adiciona uma transição suave */
        cursor: pointer; /* Altera o cursor para indicar um link */
    }
    
    .icon-email:hover {
        transform: scale(1.2); /* Faz os ícones crescerem em 20% */
        transition: transform 0.3s ease; /* Adiciona uma transição suave */
        cursor: pointer; /* Altera o cursor para indicar um link */
    }
    
    .icon i {
        color: #f5ba72; /* Cor dos ícones */
    }

}
